@page { margin:0px; }

p{
    display: inline;
}

.bordered{
    border: 1px solid
}

.header{
    text-align: center;
}
.body{
    text-align: center;
}


.first-head{
    display: flex;
}

.second-head{
    display: flex;
}

